.meal {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 15px;
}

.meal img {
    width: 200px;
}

a {
    margin-right: 30px;
    text-decoration: none;
}

.order {
    margin-top: 20px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}