.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: antiquewhite;
}

.navbar a {
    text-decoration: none;
    margin-right: 20px;
}